@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap%27');


body {
font-family: 'Noto Sans', sans-serif;

}


header {

display: flex;
background-color: blue;
color: white;
text-align: center;
justify-content: start;

}

h2 {
margin-left: 5px;
margin-top: 3em;
}

h5 {
    margin-top:50px;
    margin-left: 45em;
    font-size: 25px;
    color: coral;
}



nav {

display: flex;
align-items: flex-start;
justify-content:flex-end;
color: rgb(167, 87, 87);



}



a {
margin-top: -2.5em;
padding: 10px;
color: rgb(248, 248, 248);
font: bolder;
font-size:25px;
text-decoration: none;

}

a:hover{
color: rgb(231, 135, 45);
text-decoration: none;
border-radius: 5px;
}


h1 {
    color: blue;
    text-align: center;
    font-size: 3em;
}

article {
    display: flex;
}

.caixas {
    font-size: 30px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(209, 209, 181, 0.233);
}


.icons {
    margin-left: 9em;
    width: 19%;
}

footer {
    
        margin-left: 85em;
        font-size:bold;
        color: rgba(51, 34, 197, 0.863);
        
}
